<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909731838011-7kihm92uamiv2uitkb2j8ose5p7jkb9s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909731838011-7kihm92uamiv2uitkb2j8ose5p7jkb9s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>909731838011-2o7d5hlf4esu7oiuiqa6134hig6m4gkp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBb4hVDh5-7eQ9pAfawWhKQ3dq02cREnXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>909731838011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diveqanda.app</string>
	<key>PROJECT_ID</key>
	<string>dive-q-and-a</string>
	<key>STORAGE_BUCKET</key>
	<string>dive-q-and-a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909731838011:ios:98aedcd3d96214cc15c41e</string>
	<key>DATABASE_URL</key>
	<string>https://dive-q-and-a.firebaseio.com</string>
</dict>
</plist>