<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>909731838011-k9ps337qlici2e5qao5k8mcgvekb1972.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.909731838011-k9ps337qlici2e5qao5k8mcgvekb1972</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>909731838011-k1pcufjf5rllpjdfqe3p0hjor6a9p9tu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBb4hVDh5-7eQ9pAfawWhKQ3dq02cREnXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>909731838011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dive.app</string>
	<key>PROJECT_ID</key>
	<string>dive-q-and-a</string>
	<key>STORAGE_BUCKET</key>
	<string>dive-q-and-a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909731838011:ios:1980026f5cac8a5415c41e</string>
	<key>DATABASE_URL</key>
	<string>https://dive-q-and-a.firebaseio.com</string>
</dict>
</plist>